.spa-component-tab {
    box-sizing: border-box;
    position: absolute;
    visibility: inherit;
    width: inherit;
    height: inherit;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .spa-component-tab.hidden {
        display: none; }
    .spa-component-tab.hidden {
        visibility: hidden; }
    .spa-component-tab.focus {
        outline: 1px dashed red; }
