.spa-component-tab {
    box-sizing: border-box;
    position: absolute;
    visibility: inherit;
    width: inherit;
    height: inherit; }
    .spa-component-tab.hidden {
        display: none; }
    .spa-component-tab.hidden {
        visibility: hidden; }
